@charset "utf-8";
@import '../../../node_modules/bulma/bulma.sass';
h2 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.logo {
  width: 250px;
}
nav {
  border-bottom: 1px solid #333;
}
.container {
  min-height: 400px;
}
.navbar {
  padding: 1rem 2rem;
  b {
    font-size: 24px;
  }
}
